@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Roboto:900');

body {
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
	background: #333;
	margin: 0;
}

html,
body {
	height: 100%;
	overflow: hidden;
}

#canvasWrap {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#canvas-txt {
	font-size: 88px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#canvas-txt p {
	color: rgb(162, 72, 246);
	letter-spacing: 0.05em;
}

.sub {
	color: #fff;
	font-size: 60px;
	display: block;
	position: absolute;
	bottom: 22px;
	right: 20px;
}

.sub:before {
	display: block;
	content: '';
	width: 60px;
	height: 6px;
	background: #fff;
	position: absolute;
	bottom: -2px;
	right: 6px;
	
}

.sub:after {
	display: block;
	content: '';
	width: 500px;
	height: 500px;
	background: rgba(77, 15, 136, 0.651);
	position: absolute;
	bottom: -350px;
	right: -350px;
	transform: rotate(50deg);
	z-index: -1;

}

.logo {
	position: absolute;
	top: 30px;
	left: 30px;
}

.logo:after {
	display: block;
	content: '';
	width: 500px;
	height: 500px;
	background: rgba(78, 15, 136, 0.877);
	position: absolute;
	top: -450px;
	left: -300px;
	transform: rotate(50deg);
	z-index: -1;
}

canvas {
	animation-name: ca;
	animation-duration: 40s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	position: relative;
	z-index: -1;
	overflow: hidden;
}

@keyframes ca {
	0% {
		transform: scale(1.05)
	}

	50% {
		transform: scale(1.6);
	}

	100% {
		transform: scale(1.05);
	}
}

@media only screen and (max-width: 767px) {
	#canvas-txt p {
		font-size: 60px;
		padding-left: 5%;
	}

	.logo {
		left: 15px;
	}

	.sub:after {
		transform: rotate(55deg);
		bottom: -360px;
		right: -360px;

	}
}